*{
	padding:0;
	margin:0;
	list-style:none;
	text-decoration:none;
	font-family:"微软雅黑";

}

body{
	background:#4a607b;
	//color:#a9adb0;
}

.left{
	float:left;
}
.right{
	float:right;
}

a{
	color:#222;
}
/*************头部样式***********/
#header{
	width:930px;
	height:60px;
	margin:100px auto 15px;
	background:#fff;

}

#list_parent{
	position:relative;
	float:left;
}
#list_head {
	width:60px;
	height:60px;
	background:url('../images/list01.png') 0 0 no-repeat;
	cursor:pointer;
	float:left;
}

#list_body{
	position:absolute;
	top:60px;
	width:225px;
	height:463px;
	border-top:2px solid #4a607b;
	background-color:#c5cdd1;
	display:none;
	z-index:20;
}
#list_body ul li.list_body_parent .list_body_head{
	width:100%;
	height:60px;
	line-height:60px;
	border-bottom:1px solid #c5cdd1;
	background-color:#fff;
	text-align:center;
	box-shadow:1px 1px 1px #555;
}
#list_body ul li.list_body_parent .list_body_head:hover{
	background-color:#56ccc8;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}

#list_body .list_body_body{
	position:absolute;	
	background:#152840;
	width:190px;
	//text-align:center;
	padding-left:50px;
}
#list_body .list_body_body>ul li {
	height:40px;
	line-height:40px;
	border-bottom:1px solid #666;
}
#list_body .list_body_body a{
	color:#fff;
}
#list_body .list_body_body a:hover{
	color:#56ccc8;
}
#works{
	top:60px;
	left:225px;
	display:none;
}
#IT_technology{
	top:120px;
	left:225px;
	display:none;
}
#something{
	top:181px;
	left:225px;
	display:none;
}

#nav_head{
	float:left;
}
#nav_head ul{
	padding-left:50px;
	height:60px;
}
#nav_head ul li{
	float:left;
	height:60px;
	line-height:60px;
	text-align:center;
	width:90px;
}
#list_body_info{
	padding:30px 20px;
}
#list_body_info ul li{
	font-size:9px;
	color:#fff;
	height:60px;
}
#list_body_info ul li div{
	padding-left:40px;

}
#list_body_info ul li span.tel{
	display:inline-block;
	width:25px;
	height:25px;
	background:url('../images/tel.gif');
}
#list_body_info ul li span.address{
	display:inline-block;
	width:25px;
	height:25px;
	background:url('../images/address.gif');
}
#list_body_info ul li span.email{
	display:inline-block;
	width:25px;
	height:25px;
	background:url('../images/email.gif');
}


/*
#nav_head ul li a{
	display:block;
	width:90px;
	height:60px;
}
#nav_head ul li a:hover{
	background:#56ccc8;
	color:#fff;
}
*/
#nav_head ul li a:hover{
	color:#56ccc8;
}
#call_me{
	float:right;
	margin-right:10px;
}
#call_me ul li{
	float:left;
	height:60px;
	line-height:60px;
	padding-top:5px;
	margin-right:20px;
}
#call_me ul li a{
	display:inline-block;
	width:20px;
	height:20px;
}
#github{background:url('../images/github.gif');}
#weibo{background:url('../images/weibo.gif');}
/********主体内容**********/
/****轮播图****/
#rotation{
	width:930px;
	height:450px;
	margin:0px auto;
	display:relative;
	//overflow:hidden;
	//border:1px solid #4a607b;
	//background:url("../images/rotation/bg_all.png") 0 -30px no-repeat;
}
#bg_pic{
	width:930px;
	height:450px;
	overflow:hidden;
	position:relative;
	//background:url("../images/rotation/bg_all.png") 0 -30px no-repeat;
}
#bg_pic img{
	position:absolute;
	top:-30px;
}
#rotation span{
	display:block;
	position:absolute;
	width:30px;
	height:50px;
	cursor:pointer;
	opacity:0.5;
}
#rotation .bt_l{
	top:392px;
	left:210px;
	background:url("../images/rotation/button_l.gif") 0 0 no-repeat;
}
#rotation .bt_l:hover{
	opacity:1;
}
#rotation .bt_r{
	top:392px;
	right:210px;
	background:url("../images/rotation/button_r.gif") 0 0 no-repeat;
}
#rotation .bt_r:hover{
	opacity:1;
}
/****中部内容****/

#content_middle{
	height:300px;
	width:930px;
	margin:15px auto;
	//border:1px solid #fff;
}
#content_middle .md_content{
	float:left;
	//background-color:#fff;
}
#content_clndr{
	width:300px;
	height:300px;
	background:#000;
}
#content_resume{
	width:180px;
	height:210px;
	margin-left:15px;
	color:#fff;
	padding:45px 60px 45px 60px;
	background-color:#1f3045;
}
#content_resume p{
	word-wrap:break-word;
	//word-break:break-all;
}
#content_resume p a{
	font-size:13px;
	color:#fff;
}
#content_resume p a:hover{
	color:#4fc6f8;
}

#content_works{
	width:170px;
	height:195px;
	padding:60px 65px 45px 65px;
	margin-left:15px;
	background-color:#ea6060;
	color:#fff;
}
#content_works p{
	margin-top:10px;
	font-size:23px;
}
#content_works p a{
	color:#fff;
}
#content_works p a:hover{
	color:#4fc6f8;
	cursor:pointer;
}
#content_works span{
	margin-bottom:0px;
}


/*****下部内容****/
#content_bottom{
	width:930px;
	height:465px;
	//border:1px solid #fff;
	margin:0 auto;
}
#content_bottom .c_b{
	float:left;
}
/***技术文贴部分***/
#c_b_technology{
	width:300px;
	height:565px;
	background:#fff;
}
/***技术文贴标题部分***/
#c_b_t_header{
	padding-left:20px;
	height:65px;
	line-height:65px;
	border-bottom:1px solid #ccc;
	color:#475055;
}
#changePage_btn{
	//border:1px solid #000;
	margin-top:30px;
	margin-right:10px;
}
#changePage_btn ul li{
	float:left;
}
#changePage_btn ul li span{
	display:block;
	width:11px;
	height:11px;
	margin-right:5px;
	background:url('../images/change_btn1.gif') 0 0 no-repeat;
	cursor:pointer;
}
#changePage_btn ul li span:hover{
	background-image:url('../images/change_btn2.gif');
}


/***技术文贴内容部分***/
#c_b_t_content ul li{
	
	height:100px;
	//border-bottom:1px solid #ddd;

}
#c_b_t_content ul li span{
	display:inline-block;
	width:70px;
	height:70px;
	background:url('../images/wenjian.gif');
	margin:15px 10px;
}
#c_b_t_content ul li b{
	margin-top:40px;
	width:200px;
	font-size:14px;
	font-weight:normal;
	display:block;
	color:#60676c;	
	word-wrap:break-word;
}

#c_b_t_content ul li b a:hover{
	color:#ccc;
}
#c_b_somthings{
	width:615px;
	height:465px;
	margin-left:15px;
}
/***闲谈部分***/
#interest{
	width:575px;
	height:360px;
	background:#4fc6f8;
	color:#fff;
	padding:20px 20px;
}
#interest ul li{
	//border:1px solid #fff;
	margin-top:10px;
	font-size:13px;
	padding-top:5px;
	border-top:1px solid #fff;
}
#interest ul li .interset_header span{
	display:inline-block;
	width:50px;
	height:50px;
	//background:#fff;
	margin-right:10px;
}
#interest ul li .interset_header h4{
	height:50px;
	line-height:50px;
}
#spiderMan{background:url(../images/spiderMan.gif) 0 0 no-repeat;}
#madilyn{background:url(../images/madilyn.gif) 0 0 no-repeat;}
#byx{background:url(../images/byx.gif) 0 0 no-repeat;}
#interset_header{position:relative;}
.interest_md_pic{
	position:absolute;
	width:200px;
	height:200px;
	left:600px;
	display:none;
}
#mdspiderMan{
	background:url(../images/mdspiderMan.gif) 0 0 no-repeat;
}
#mdmadilyn{
	background:url(../images/mdmadilyn.gif) 0 0 no-repeat;
}
#mdbyx{
	background:url(../images/mdbyx.gif) 0 0 no-repeat;
}
#interest  ul li div{
	padding-top:3px;
	clear:right;
}
#interest  ul li div a{
	color:#fff;
}
#interest  ul li div a:hover{
	color:#1f3045;
}
/**表单部分**/
#callMeBy{
	margin-top:15px;
	width:615px;
	height:150px;
	//background:#fff;	
}
#callMeBy input,#callMeBy textarea{
	border:1px solid #fff;
	color:#fff;
	background-color:#152840;
	border:none;
}
#callMeBy input{
	width:190px;
	height:40px;
	line-height:40px;
	margin-top:15px;
	//margin-left:20px;
	padding-left:10px;
}
#callMeBy .github{
	margin-left:3px;
}
#callMeBy .question{
	padding:10px;
	width:470px;
	height:60px;
	//margin-left:20px;
	margin-top:15px;
}
#callMeBy .submit{
	width:100px;
	height:40px;
	//margin-right:50px;
	margin-top:55px;
	background:#ea6060;
	color:#fff;
	font-size:15px;
	cursor:pointer;
	border-radius:5px;
	border:none;
}
/*****页面底部***/
#footer{
	margin-top:120px;
	margin-left:200px;
}
#footer #shareBlog ul li{
	float:left;
	margin-left:30px;
	color:#fff;
} 
#footer #shareBlog ul li a{
	font-size:13px;
	color:#4bc7c7;
}
#footer #shareBlog ul li a:hover{
	text-decoration:underline;
}
/***生日快乐***/
#HappyBirthday{
	position:fixed;
	left:0;
	top:300px;
	width:300px;
	height:150px;
	background:url('../images/birthday.gif') 0 0 no-repeat;
	padding-top:155px;
	padding-left:5px;
	color:red;
	font-family:"KaiTi";
	display:none;
}
































