#content{
	width:930px;
	height:1200px;
	margin:0 auto;
}
/**导航栏***/
#content .nav{
	width:225px;
	height:1150px;
	background:#152840;
	padding-top:50px;
}
#content .nav ul li{
	width:225px;
	//border:1px solid #fff;
}
#content .nav ul li .nav_header{
	width:100%;	
	height:60px;
	line-height:60px;
	text-align:center;
	color:#fff;
	background:#263a54;
	border-bottom:2px solid #152840;
	cursor:pointer;
}
#content .nav ul li .nav_header span{
	display:inline-block;
	width:18px;
	height:18px;
	background:url('../images/IT_technology/nav_btn.gif') 0 0 no-repeat;
	margin-top:21px;
	margin-right:20px;
	transition:transform 0.4s linear 0.1s;
}

#content .nav ul li .nav_body{
	width:225px;
	background:#152840;
	display:none;
}
#content .nav .nav_body ul li{
	text-align:center;
	//height:30px;
	//padding-top:10px;
	//margin-top:10px;
//	border:1px solid #fff;
}

#content .nav .nav_body ul li a{
	display:block;
	width:225px;
	height:40px;
	line-height:40px;
	color:#fff;
	transition:color 0.2s linear 0s,background 0.2s linear 0s;
	font-size:12px;
}
#content .nav .nav_body ul li a:hover{
	color:#152840;
	background:#56ccc8;
	font-weight:bold;
}
#search{
	position:relative;
}
#search .words{
	width:190px;
	height:30px;
	margin-left:10px;
	margin-top:10px;
	padding-left:10px;
	border-radius:5px;
}
#search span{
	position:absolute;
	left:185px;
	top:20px;
	display:inline-block;
	width:16px;
	height:16px;
	background:url('../images/IT_technology/search.gif') 0 0 no-repeat;
	cursor:pointer;
}

/***主体内容**/
#content .wrap{
	width:700px;
	height:100%;
	background:#fff;
}

